@use "variables" as *;
@use "mixins" as *;

%button_all {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 45px;
  text-align: center;
  font-size: 12px;
  padding: 0 20px;
  background-color: $main_color;
  color: $black_color;
  font-weight: $weight_bold;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include box_no_shadow;
  @include border_radius(25px);
  @include transition(0.3s color linear);
  &::before {
    @include pseudo("", 0, 0);
    height: 100%;
    width: 100%;

    @include border_radius(3px);
    clip-path: circle(15% at 0% 100%);
    background-color: rgba($black_color, 0.05);
    @include transition(0.4s clip-path linear);
  }
  i {
    margin: 0 3px;
  }
  span {
    position: relative;
    z-index: 999;
  }
  &:hover {
    color: $black_color;
    &::before {
      clip-path: circle(100% at 50% 100%);
    }
  }
  &.white_btn {
    background-color: $white_color;
    color: $black_color;
  }
  &.more {
    margin: 15px 0 0;
  }
}

%button_icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: auto;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  padding: 0;
  background-color: $main_color;
  color: $black_color;
  border: 0;
  @include box_no_shadow;
  @include border_radius(50%);
  &::after {
    @include pseudo("", 0, 0);
    height: 100%;
    width: 100%;
    clip-path: circle(0% at 50% 100%);
    background-color: $black_color;
    @include transition(0.4s clip-path linear);
  }

  i,
  &::before {
    z-index: 999;
    position: relative;
  }
  &:hover {
    color: $white_color;
    &::after {
      clip-path: circle(130% at 50% 100%);
    }
    i,
    &::before {
      color: $white_color;
    }
  }
}
%list {
  margin: 0;
  li {
    display: block;
    position: relative;
    line-height: 30px;
    margin-bottom: 15px;
    padding-inline-start: 25px;
    font-size: 16px;
    &::before {
      content: "\f00c";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 0;
      top: 0;
      color: $main_color;
    }
  }
}
%flex {
  @include flex(column, center, start);
}
// use Placholder
.link {
  @extend %button_all;
}
.icon_link {
  @extend %button_icon;
}
.list {
  @extend %list;
}
.flex {
  @extend %flex;
}
html[dir="rtl"] {
  .fa-angle-right {
    @include transform(rotateY(180deg));
  }
  %button_all {
    letter-spacing: 0px;
  }
  %list {
    li {
      &::before {
        left: auto;
        right: 0;
      }
    }
  }
}
