/* Variables
======================*/
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600&family=Montserrat:wght@400;600;800&display=swap');

// Color
$main_color: #feab18;
$black_color: #000000;
$white_color: #ffffff;
$facebook: #1877f2;
$instagram: #e4405f;
$youtube: #cd201f;
$tiktok: #fff;
$linkedin: #0a66c2;
$twitter: #1DA1F2;

// Font Setting
$main_font: 'Montserrat', sans-serif;
$ar_font: 'Changa', sans-serif;
$weight_xbold: 800;
$weight_bold: 600;
$weight_reg: 400;

